.info-box {
    position: fixed;
    right: 0px;
    top: 60px;
    width: 800px;
    height: 670px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    z-index: 2;
    overflow: auto;
}
  
.info-top {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.info-content {
    padding: 15px;
}