.control-panel {
    max-height: 90%; /* 원하는 최대 높이로 설정 */
    overflow-y: auto;  /* 내용이 넘칠 경우 수직 스크롤바 표시 */
}

.toggle-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-label {
    font-weight: bold;
}

.submenu-container {
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9; 
}

.menubar {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px; 
}

/* .toggle-button-group .btn {
    border-radius: 0;
    height: 30px; 
    font-size: 1.2rem;
}

.toggle-button-group .btn:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.toggle-button-group .btn:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.toggle-button-group .btn + .btn {
    margin-left: 0; 
} */