.toggle-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-label {
    font-weight: bold;
}

.submenu-container {
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9; 
}

.menubar {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px; 
}