.toggle-button-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1; /* Ensure it appears above other elements */
}

.reset-button-container {
    position: absolute;
    top: 10px; /* 필요한 경우 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.custom-context-menu {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-context-menu div {
    padding: 5px 0;
}

.custom-context-menu div:hover {
    background-color: #f0f0f0;
}