.toggle-button-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1; /* Ensure it appears above other elements */
}

.reset-button-container {
    position: absolute;
    top: 10px; /* 필요한 경우 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.info-box {
    position: fixed;
    right: 0px;
    top: 50px;
    width: 500px;
    height: 670px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    z-index: 2;
}
  
.info-top {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.info-content {
    padding: 15px;
}